<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.sunilpathak.bulkmates</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.384690181821-j8q2l9v0v0v0v0v0v0v0v0v0v0v0v0v0</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
