<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.sunilpathak.bulkmates</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.384690181821-j8q2l9v0v0v0v0v0v0v0v0v0v0v0v0v0</string>
				<string>app-1-384690181821-ios-236b9be0f01671a9d3c9d4</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>BulkMates needs camera access to take photos of items or receipts for your plans</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>BulkMates needs photo library access to choose photos for plan items</string>
	<key>NSFaceIDUsageDescription</key>
	<string>BulkMates uses Face ID to securely log you in and protect your account</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
</dict>
</plist>
